.signIn {
  .text {
    color: #4e3f6f;
		font-weight: 500;
  }
	.signInBtn {
		height: 34px;
		color: #4e3f6f;
		font-weight: 700;
		border: none;
		background: #f2f2fe;
	}
	.form-container {
		border-radius: 50px;
		position: absolute;
		z-index: 5;
		height: 100vh;
		width: 585px;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: white;
		border: 1px solid #ccc;
		padding: 0 60px;
		.formText {
			color: #4e3f6f;
			font-size: 36px;
			font-weight: 700;
			text-align: center;
		}

		.signInBtn {
			height: 34px;
			color: #4e3f6f;
			font-weight: 700;
			border: none;
			background: #f2f2fe;
		}
		.bg-emerald-600 {
			margin: 20px;
			padding: 10px;
			height: 34px;
			color: #4e3f6f;
			font-weight: 700;
			border: none;
			background: #f2f2fe;
			border-radius: 10px;
			// margin-left: 80px;
		}
		.react-tel-input {
			margin: 15px;
		}
    .textSuccess {
      color: #4e3f6f;
			font-weight: 700;
    }
	}
}
