.usersCard {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 40px;
	.cost {
		text-align: center;
		margin-top: 10px;
		color: white;
		font-size: 16px;
		font-weight: 700;
    background-color:#FFA012;
    width: 42px;
    border-radius: 9px;
    margin-left: auto;
	}
	.userCard {
		width: 271px;
		border-radius: 20px;
		background: #fff;
		padding: 15px 15px 40px 15px;
		transition: all ease-in-out 0.2s;
		&:hover {
			.contact {
				display: block;
			}
		}
		.contact {
			display: none;
			.socials {
				display: flex;
				justify-content: space-between;
				padding-top: 16px;
				padding-bottom: 28px;
				.socialLink {
					display: flex;
					gap: 9px;

					.social {
						width: 35px;
						height: 35px;
						background-color: #e4405f;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						&:nth-child(1) {
							background-color: #1da1f2;
						}
						&:nth-child(3) {
							background-color: #4c75a3;
						}
					}
				}
				.empty {
					width: 3px;
					height: 25px;
					background: #e1e2eb;
					margin-top: 2px;
				}
			}
			h3 {
				margin-top: 3px;
			}
		}
		.folowers {
			display: flex;
			align-items: center;
			h2 {
				padding-right: 20px;
			}
			p {
				color: #8c8cb6;
			}
		}
		.btn {
			width: 186px;
			height: 48px;
			flex-shrink: 0;
			border-radius: 20px;
			background: #615dfa;
			border-color: transparent;
			margin-top: 20px;
      a {
        color: white;
      }
		}
	}
}
