body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"] {
  width: calc(100% - 18px); /* Рассчитываем ширину, учитывая padding и border */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 3px; /* Учитываем межстрочный интервал */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button.cancel {
  background-color: #ccc;
  color: #333;
}

button.cancel:hover {
  background-color: #bbb;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

li button {
  margin-left: auto; /* Помещаем кнопки справа */
  margin-right: 10px;
}

li button.edit {
  background-color: #ffc107;
  color: #333;
}

li button.delete {
  background-color: #dc3545;
  color: #fff;
}

