.custom-input {
	width: 778px;
	margin-right: 48px;
	.ant-input-affix-wrapper {
		border-radius: 20px;
		padding: 14px 30px;
		font-size: 24px;
	}
	.user {
		div img {
			width: 200px;
			height: 200px;
		}
	}
}
