@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");
*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
	border-radius: 50px;
	background: #f2f2fe;
	box-shadow: 0px 50px 50px 0px rgba(93, 179, 168, 0.1);
	font-family: Nunito, sans-serif;
}
